{% extends 'base.html.twig' %}

{% block body %}

    <div class="container body-content">
        <div class="row">
            {% for article in articles %}
                <table>
                    <tr>
                        <div class="col-md-6">
                            <article>
                                <header>
                                    <h2>{{ article.title }}</h2>
                                </header>

                                <p>
                                    {{ article.summary }}
                                </p>

                                <a href="{{ path('article_view',{'id': article.id}) }}">
                                    <img src="{{asset('uploads/images/'~article.image)  }}" width="300" height="300"></a>
                                <small class="author">
                                    {{ article.author.fullName }}
                                </small><br>
                              Views: {{ article.viewCount }}
{#                                Likes: {{  }}#}
                                <footer>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-xs"
                                           href="{{ path('article_view',{'id': article.id}) }}">Read more &raquo;</a>
                                    </div>
                                </footer>
                            </article>
                        </div>
                    </tr>
                </table>
            {% endfor %}
        </div>
    </div>

{% endblock %}
